<div class="dropdown">
	<div class="select @getSelectionDisplayClass()">
		@SelectionDisplay()
	</div>
	@if (SelectList.Any()) {
		<div class="dropdown-content">
			<div>
				<label for="selectAll" class="select-all">
					<input type="checkbox" @bind="selectAll" @bind:after="toggleAll" />
					הכל
				</label>
			</div>
			@foreach (var item in SelectList) {
				<div>
					<label>
						<input type="checkbox" @bind="item.Selected" @bind:after="(()=> toggleItem(item.Value))" />
						@item.Text
					</label>
				</div>
			}
		</div>
	}
</div>

